@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #313131;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #313131;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Cantarell, Helvetica, sans-serif;
}

a {
  color: rgb(136, 136, 216);
  text-decoration: underline;
}

hr {
  margin-top: 5px;
  margin-left: 2.5%;
  width: 95%;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}